<%- layout('layout') -%>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron" id="navbar-gap">
  <div class="container">
    <h1>NODESHOP</h1>
    <p>Let's save the world of price.</p>
    <p><a class="btn btn-primary btn-lg" href="/signup" role="button">アカウントを作成する &raquo;</a></p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>商品を探す</h2>
      <p>アカウントを作成して、商品を探そう。</p>
    </div>
    <div class="col-md-4">
      <h2>商品を探そう！</h2>
      <p>１万アイテムの中からアイテムを探しましょ。</p>
   </div>
    <div class="col-md-4">
      <h2>カート</h2>
      <p>カートの中身を見る</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>

  <hr>

  <% include ../partials/footer %>
</div> <!-- /container -->
